@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    
}

.text-primary {
    color: red !important; /* Substitua pelo tom de azul que desejar */
}



body {
    background-color: #778;
    /* Cinza claro */
    font-family: 'Nunito', sans-serif;
    color: #333;
    /* Cor do texto */
    margin: 0;
    padding: 0;
}
header{
    /* background-color: #445 !important; */
    background: linear-gradient(to bottom, #334, #778);
    color: #eee;
    padding: 8px;
    text-align: center;
    border:none
}
.content{
    min-height: calc(100vh - 187px);
}

.title{
    letter-spacing: 1px;
    font-weight: 700;
} 


footer {
    background: linear-gradient(to top, #334, #778);
    color: #ddd;
}


footer .gap-3>* {
    margin-right: 15px;
    margin-left: 15px;
}

.social-media-icon{
    transition: all ease-in-out .2s;
}

.social-media-icon:hover{
    color: rgb(219, 219, 219);
    transform: scale(1.1);
}